*.iml
.gradle
/local.properties
/key.text
/keystore.jks
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
OkHttpFinal/build/generated/source/buildConfig/release/cn/finalteam/okhttpfinal/BuildConfig.java
OkHttpFinal/build/intermediates/bundles/default/classes.jar
*.class
OkHttpFinal/build/intermediates/incremental-safeguard/debug/tag.txt
OkHttpFinal/build/intermediates/incremental-safeguard/release/tag.txt
OkHttpFinal/build/intermediates/incremental/mergeReleaseJniLibFolders/merger.xml
OkHttpFinal/build/outputs/aar/OkHttpFinal-release.aar
OkHttpFinal/build/generated/assets/
OkHttpFinal/build/generated/res/
OkHttpFinal/build/generated/source/aidl/
OkHttpFinal/build/generated/source/apt/
OkHttpFinal/build/generated/source/buildConfig/release/
OkHttpFinal/build/generated/source/r/debug/
OkHttpFinal/build/generated/source/r/release/
OkHttpFinal/build/generated/source/rs/
OkHttpFinal/build/intermediates/blame/
OkHttpFinal/build/intermediates/bundles/debug/aidl/
OkHttpFinal/build/intermediates/bundles/debug/assets/
OkHttpFinal/build/intermediates/bundles/debug/classes.jar
OkHttpFinal/build/intermediates/bundles/debug/jni/
OkHttpFinal/build/intermediates/bundles/debug/libs/
OkHttpFinal/build/intermediates/bundles/debug/res/
OkHttpFinal/build/intermediates/bundles/default/aidl/
OkHttpFinal/build/intermediates/bundles/default/assets/
OkHttpFinal/build/intermediates/bundles/default/jni/
OkHttpFinal/build/intermediates/bundles/default/libs/
OkHttpFinal/build/intermediates/bundles/default/res/
OkHttpFinal/build/intermediates/classes/
OkHttpFinal/build/intermediates/incremental-safeguard/
OkHttpFinal/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
OkHttpFinal/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
OkHttpFinal/build/intermediates/incremental/mergeDebugJniLibFolders/
OkHttpFinal/build/intermediates/incremental/mergeReleaseJniLibFolders/
OkHttpFinal/build/intermediates/incremental/packageDebugAndroidTest/
OkHttpFinal/build/intermediates/incremental/packageDebugResources/merged.dir/
OkHttpFinal/build/intermediates/incremental/packageReleaseResources/merged.dir/
OkHttpFinal/build/intermediates/incremental/processDebugAndroidTestResources/
OkHttpFinal/build/intermediates/incremental/processDebugResources/
OkHttpFinal/build/intermediates/incremental/processReleaseResources/
OkHttpFinal/build/intermediates/jniLibs/
OkHttpFinal/build/intermediates/lint/
OkHttpFinal/build/intermediates/manifest/tmp/
OkHttpFinal/build/intermediates/res/merged/
OkHttpFinal/build/intermediates/rs/
OkHttpFinal/build/intermediates/shaders/
OkHttpFinal/build/intermediates/symbols/
OkHttpFinal/build/intermediates/transforms/
OkHttpFinal/build/tmp/
